/* Full page background */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Fira Code', monospace;
  overflow: hidden;
}

.background {
  /* background: url('images/ntp_bg.png') no-repeat center center; */
  background-color: #031a24    ;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  filter: brightness(0.7);
  z-index: -1;
}

/* Centered content */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Neon text */
h1 {
  font-size: 4rem;
  color: #7df9ff;
}

.neon-text {
  color: #ff6ec7;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* Search box */
.search-box {
  padding: 0.7rem 2rem;
  font-size: 1rem;
  width: 30vw;
  border-radius: 5px;
  border: 1px solid #444;
  background: rgba(20, 20, 25);
  color: #dce1e8;
  outline: none;
}

.search-box::placeholder {
  color: #888;
}

.particles {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none; /* click through */
  overflow: hidden;
  z-index: -1;
}

.particle {
  position: absolute;
  border-radius: 50%;
  background: rgba(125, 249, 255, 0.5);
  width: 8px;
  height: 8px;
  animation: float 10s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(100vh) translateX(0) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(-10vh) translateX(50px) scale(0.5);
    opacity: 0;
  }
}

.recent-sites {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem; /* spacing between icons */
  flex-wrap: wrap; /* wrap if screen is small */
}

.recent-sites img {
  width: 60px; /* big size */
  height: 60px;
  border-radius: 4px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  filter: drop-shadow(0 0 4px #7df9ff);
}

.recent-sites img:hover {
  transform: scale(1.3);
}
